
html{
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}  
body {
  /* background-color:#273142; */
  background-image: url(https://dimayer.com.ar/wp-content/uploads/2021/04/3433839.jpg);
  color: #000000;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: repeat-y;
}
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #545454;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #3d3d3d;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #272727;
}
nav {
  font-family: 'Montserrat', sans-serif;
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #055c92;
  color: #000000;
  text-align: center;
  font-size: 1.3vw;
  font-weight: bold;
  letter-spacing: 1px;
  z-index: 5;
}

.dibujo {
  margin: 0;
  width: 5%;
  height: 50px;
  float: left;
}

.logo {
  position: absolute;
  top: -25px;
  z-index: 1;
  mix-blend-mode: normal;
}

.logo1 {
  position: absolute;
  top: -75px;
  z-index: 1;
  mix-blend-mode: normal;
}

nav h1 {
  margin: 0;
  width: 25%;
  height: 50px;
  float: left;
}

.vacio {
  width: 15%;
  height: 50px;
  float: left;
}

.item {
  line-height: 50px;
  margin: 0;
  height: 50px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  transition: background-color 0.4s ease;
  width: 17%;
}

.item:hover {
  background-color: rgba(128, 128, 128, 0.35);
}

a {
  text-decoration: none;
  color: #000000;
  transition: color 0.4s ease;
}

a:hover {
  color: #ffffff;
}

.dropdown-menu {
  display: none;
  position: absolute;
  padding: 10px;
  margin-left: -10px;
  width: 17%;
}

.item:hover .dropdown-menu {
  display: block;
  background-color: rgba(128, 128, 128, 0.35);
}
.buscador_clientes {
  position: absolute;
  margin-top: 220px;
  left: 65%;
  transform: translateX(-50%);
  filter: drop-shadow(10px 10px 8px rgba(0, 0, 0, 0.493));

}
.busqueda_pdf {
  position: absolute;
  margin-top: 75px;
  left: 25px;
  filter: drop-shadow(10px 10px 8px rgba(0, 0, 0, 0.493));
}

.tabla_pdf_venta{
  position: absolute;
  margin-top: 75px;
  left: 60%;
  transform: translateX(-50%);
}
.buscador_productos {
  position: absolute;
  margin-top: 220px;
  left: 50%;
  transform: translateX(-50%);
  filter: drop-shadow(10px 10px 8px rgba(0, 0, 0, 0.493));
}
.productos_in {
  position: absolute;
  margin-top: 100px;
  left: 40%;
  transform: translateX(-50%);
  display: block;
  filter: drop-shadow(10px 10px 8px rgba(0, 0, 0, 0.705));
}
.clientes_in {
  position: absolute;
  margin-top: 75px;
  left: 25%;
  transform: translateX(-50%);
  display: block;
  filter: drop-shadow(10px 10px 8px rgba(0, 0, 0, 0.705));
}
.vendedores_in {
  position: absolute;
  margin-top: 75px;
  left: 25%;
  transform: translateX(-50%);
  display: block;
  filter: drop-shadow(10px 10px 8px rgba(0, 0, 0, 0.705));
}
.edicion_pre {
  position: absolute;
  margin-top: 100px;
  left: 40%;
  transform: translateX(-50%);
  display: none;
  filter: drop-shadow(10px 10px 8px rgba(0, 0, 0, 0.705));
}
.edicion_stock {
  position: absolute;
  margin-top: 100px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  filter: drop-shadow(10px 10px 8px rgba(0, 0, 0, 0.705));
}
.edicion_disp {
  position: absolute;
  margin-top: 100px;
  left: 40%;
  transform: translateX(-50%);
  display: none;
  filter: drop-shadow(10px 10px 8px rgba(0, 0, 0, 0.705));
}
form {
  background-color: #a3a3a3;
  font-family: 'Montserrat', sans-serif;
  padding: 20px;
  border-radius: 0px;
}    
label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}   
input {
  border: none;
  border-bottom: 2px solid #2e89f2;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #979797;
}
.productos_in input {
  border: none;
  border-bottom: 2px solid #2e89f2;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #979797;
}
input[type="date"] {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: bold;
}
input[type="text"] {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  width: 250px;
}
input[type="number"] {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  width: 250px;
}   
select{
  border: none;
  border-bottom: 2px solid #2e89f2;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #a3a3a3;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
button {
  background-color: #2e89f2;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
  font-family: 'Montserrat Alternates', sans-serif;
} 
button:hover{
  background-color: #2e89f2;
  color: white;
  transform: scale(1.05);
}   
.resultados_clientes{
  position: absolute;
  left: 50%;
  top: 675px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -0%);
  width: auto;
  height: auto;
  border-radius: 0px;
  filter: drop-shadow(10px 10px 8px rgba(0, 0, 0, 0.705));
}
.resultados_vendedores{
  position: absolute;
  left: 50%;
  top: 675px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -0%);
  width: auto;
  height: auto;
  border-radius: 0px;
  filter: drop-shadow(10px 10px 8px rgba(0, 0, 0, 0.705));
}
.resultados_productos {
  position: absolute;
  left: 50%;
  top: 350px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -0%);
  width: auto;
  height: auto;
  border-radius: 10px;
  filter: drop-shadow(10px 10px 8px rgba(0, 0, 0, 0.705));
}

.resultados_productos_edicion{
  position: absolute;
  left: 80%;
  margin-top: 175px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -0%);
  width: auto;
  height: auto;
  border-radius: 10px;
  filter: drop-shadow(10px 10px 8px rgba(0, 0, 0, 0.705));
}
table {
  font-family: 'Montserrat', sans-serif;
  background-color: #dddddd;;
  font-size: 14px;
}   
th, td {
  border: 0px;
  text-align: center;
  padding: 8px;
  vertical-align: top;
}    
th {
  border: 0px;
  background-color: #a3a3a3;      
}   
tr {
  border: 0px;
  background-color: #dddddd;
}

.seleccion{
  position: absolute;
  margin-top: 75px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: auto;
  padding: 20px;
  border-radius: 0px;
  background-color: #a3a3a3;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: bold;
  filter: drop-shadow(10px 10px 8px rgba(0, 0, 0, 0.5));
}  
.seleccion_1{
  position: absolute;
  margin-top: 75px;
  left: 65%;
  transform: translateX(-50%);
  width: auto;
  height: auto;
  padding: 20px;
  border-radius: 0px;
  background-color: #a3a3a3;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: bold;
  filter: drop-shadow(10px 10px 8px rgba(0, 0, 0, 0.5));
}  
.seleccion_ventas{
  position: absolute;
  margin-top: 75px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: auto;
  padding: 20px;
  border-radius: 0px;
  background-color: #a3a3a3;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: bold;
  filter: drop-shadow(10px 10px 8px rgba(0, 0, 0, 0.5));
}  
.boton_dni{
  background-color: #2e89f2;
  border: none;
  color: white;
  padding-top: 10px;
  padding-bottom:10px;
  text-decoration: none;
  margin-right: 4px;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  width: 120px;
  font-family: 'Montserrat', sans-serif;
}  
.boton_codigo{
  background-color: #2e89f2;
  border: none;
  color: white;
  padding-top: 10px;
  padding-bottom:10px;
  text-decoration: none;
  margin-right: 4px;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  width: 120px;
  font-family: 'Montserrat Alternates', sans-serif;
}  
.boton_nombre{
  background-color: #2e89f2;
  border: none;
  color: white;
  padding-top: 10px;
  padding-bottom:10px;
  text-decoration: none;
  margin-left: 4px;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  width: 120px;
  font-family: 'Montserrat Alternates', sans-serif;
}
.boton_productos{
  position: absolute;
  top: 100px;
  left: 5%;
  background-color: #2e89f2;
  border: none;
  color: white;
  padding-top: 10px;
  padding-bottom:10px;
  text-decoration: none;
  margin-right: 4px;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  width: 137px;
  font-family: 'Montserrat Alternates', sans-serif;
}
.boton_precios{
  position: absolute;
  top: 175px;
  left: 5%;
  background-color: #2e89f2;
  border: none;
  color: white;
  padding-top: 10px;
  padding-bottom:10px;
  text-decoration: none;
  margin-right: 4px;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  width: 137px;
  font-family: 'Montserrat Alternates', sans-serif;
}
.boton_stock{
  position: absolute;
  top: 250px;
  left: 5%;
  background-color: #2e89f2;
  border: none;
  color: white;
  padding-top: 10px;
  padding-bottom:10px;
  text-decoration: none;
  margin-right: 4px;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  width: 137px;
  font-family: 'Montserrat Alternates', sans-serif;
}
.boton_disponibilidad{
  position: absolute;
  top: 325px;
  left: 5%;
  background-color: #2e89f2;
  border: none;
  color: white;
  padding-top: 10px;
  padding-bottom:10px;
  text-decoration: none;
  margin-right: 4px;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  width: 137px;
  font-family: 'Montserrat Alternates', sans-serif;
}
.boton_imagen{
  position: absolute;
  top: 400px;
  left: 5%;
  background-color: #2e89f2;
  border: none;
  color: white;
  padding-top: 10px;
  padding-bottom:10px;
  text-decoration: none;
  margin-right: 4px;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  width: 137px;
  font-family: 'Montserrat Alternates', sans-serif;
}
.tabla_in_productos {
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  font-size: 14px;
  border: 0px solid;
  border-radius: 10px;
}
.tabla_in_productos th, td {
  border: 0px;
  text-align: left;
  padding: 8px;
}
.tabla_in_productos th {
  border: 0px;
  background-color: rgba(255, 255, 255, 0);
}
.tabla_in_productos tr {
  border: 0px;
  background-color: rgba(255, 255, 255, 0);
}

.div_precio_dolar{
  position: absolute;
  left: 250px;
  top: 20px;
}

.tabla_ventas{
  position: absolute;
  margin-top: 200px;
  left: 50%;
  transform: translateX(-50%);
  filter: drop-shadow(10px 10px 8px rgba(0, 0, 0, 0.493));
}
.tabla_presupuesto{
  position: absolute;
  margin-top: 200px;
  left: 50%;
  transform: translateX(-50%);
  filter: drop-shadow(10px 10px 8px rgba(0, 0, 0, 0.493));
}

.btn_enviar{
  text-align: center;
}
.btn_enviar1{
  position: relative;
  text-align: center;
  transform: translateX(-50%);
  left: 50%;
}

.btn_x {
  background-color: #2e89f2;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.btn_x:hover {
  background-color: dark#2e89f2;
}

.titulo_venta{
  width: 33.33%;
}

img{
  aspect-ratio: 1/1;
  object-fit: contain;
  mix-blend-mode:color-burn ;
  filter: saturate(0.9);
}

.form_presupuesto{
  display: none;
}

