/*ESTILO DE LA HOJA PRODUCTOS*/
/*Boton de eliminar*/
.delete-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(63, 40, 192);
    border: none;
    font-weight: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
  }
  
  .delete-svgIcon {
    width: 15px;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
  }
  
  .delete-svgIcon path {
    fill: white;
  }
  
  .delete-button:hover {
    width: 90px;
    border-radius: 50px;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    background-color: rgb(255, 69, 69);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .delete-button:hover .delete-svgIcon {
    width: 20px;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    transform: translateY(60%);
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  
  .delete-button::before {
    display: none;
    content: "Delete";
    color: white;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    font-size: 2px;
  }
  
  .delete-button:hover::before {
    display: block;
    padding-right: 10px;
    font-size: 13px;
    opacity: 1;
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
  }


/*Boton de editar*/
.edit-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(63, 40, 192);
    border: none;
    font-weight: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
    text-decoration: none !important;
  }
  
  .edit-svgIcon {
    width: 17px;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
  }
  
  .edit-svgIcon path {
    fill: white;
  }
  
  .edit-button:hover {
    width: 120px;
    border-radius: 50px;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    background-color: rgb(255, 69, 69);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .edit-button:hover .edit-svgIcon {
    width: 20px;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    transform: translateY(60%);
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  
  .edit-button::before {
    display: none;
    content: "Edit";
    color: white;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    font-size: 2px;
  }
  
  .edit-button:hover::before {
    display: block;
    padding-right: 10px;
    font-size: 13px;
    opacity: 1;
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
  }
  




    /* The switch - the box around the slider */
    .switch {
        font-size: 17px;
        position: relative;
        display: inline-block;
        width: 3.5em;
        height: 2em;
    }

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        inset: 0;
        background: #f75c5c;
        border-radius: 50px;
        transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .slider:before {
        position: absolute;
        content: "";
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2em;
        width: 2em;
        inset: 0;
        background-color: white;
        border-radius: 50px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
        transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .switch input:checked + .slider {
        background: #6ff354;
    }

    .switch input:focus + .slider {
        box-shadow: 0 0 1px #09f13b;
    }

    .switch input:checked + .slider:before {
        transform: translateX(1.6em);
    }


.table {
    background-color: var(--primary-color-light);
    color: var(--text-color);
}

.table th {
    background-color: var(--primary-color);
    color: var(--sidebar-color);
}

.table td { 
    background-color: var(--primary-color-dark);
}

.table img {
    max-width: 100px;
    max-height: 100px;
}








/*ESTILO DE LA HOJA CLIENTES*/
.title {
    margin-left: 145px;
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: var(--text-color);
}


form {
    background-color: var(--sidebar-color);
    padding: 5px; /* Ajusta el valor del padding para reducir la altura */
    border-radius: 6px;
    max-width: 300px;
    margin: 0 auto;
    margin-left: 100px;
}

form h2 {
    color: var(--text-color);
    margin-bottom: 5px;
    font-size: 16px;
}

form label {
    color: var(--text-color);
    font-size: 14px;
}

form input {
    width: 100%;
    padding: 0vh; /* Ajusta el valor del padding para reducir la altura */
    border-radius: 4px;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    font-size: 14px; /* Ajusta el valor del font-size para reducir la altura */
}

form input:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--primary-color);
}

form .btn-primary {
    width: 100%;
    padding: 8px; /* Ajusta el valor del padding para reducir la altura */
    border-radius: 4px;
    background-color: var(--primary-color);
    border: none;
    color: var(--sidebar-color);
    font-weight: bold;
    font-size: 14px; /* Ajusta el valor del font-size para reducir la altura */
}

form .btn-primary:hover {
    background-color: #5e4dfe;
}



/*ESTILO DE IMAGEN*/
section.home {
    position: relative;
    padding-top: 0px; /* Agrega un margen superior para separar del menú */
}

section.home .image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 60px); /* Ajusta la altura para tener en cuenta el margen superior */
    border-radius: 30px;
    margin-top: 30px; /* Agrega un margen superior para separar del menú */
}

section.home .image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ajusta el ajuste del objeto según tus preferencias */
    object-position: center;
    border-radius: 30px;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --body-color: #eef0f7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
    overflow: hidden;
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
    overflow: hidden;
}

/* ===== Sidebar ===== */
 .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}
.sidebar.close{
    width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}
/* =========================== */

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 40px;
}

.sidebar li.search-box{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}
.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
}

.mode .sun-moon i{
    position: absolute;
}
.mode .sun-moon i.sun{
    opacity: 0;
}
body.dark .mode .sun-moon i.sun{
    opacity: 1;
}
body.dark .mode .sun-moon i.moon{
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before{
    left: 20px;
}

.home{
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}
body.dark .home .text{
    color: var(--text-color);
}